* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Mada', arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Archivo Black', sans-serif;
	color: #E27A6A;
}

h1 span {
	border-bottom: 4px solid black;
	padding-bottom: 10px;
	font-family: inherit;
	font-size: inherit;
	border-color: inherit;
}


body {
	background-color: #f1f1f1;
}


/* header and navigation*/
li[role*="presentation"] a {
	color: white;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
}

li[role*="presentation"] a:hover {
	background-color: rgba(255,255,255,0.5);
	transition: all 0.1s;
}

header {
	min-height: 400px;
	background: #E27A6A;
	/*orange*/
	position: relative;
}



li[role*="presentation"] a {
	color: white;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	text-decoration: underline;
}

li[role*="presentation"] a:hover {
	background-color: rgba(255,255,255,0.5);
	transition: all 0.5s;
	color: black;
}


nav	{
	font-size: 20px;
}

nav ul {
	position: relative;
}

nav ul li {
	width: 100%;
}

ul li.navbar-brand {
	display: block;
	height: 300%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 80px;
}

.navigation	{
	position: absolute;
	font-size: 20px;
	min-height:100px; 
	bottom: 5%;
}

/*main*/
main h1 {
	font-size: 50px;
}

iframe {
	width: 100%;
	border-radius: 7px;
}

textarea {
	margin-bottom: 10px;
}

main div.col-xs-12 {
	margin-bottom:20px;
}

main div.col-xs-12 p {
	padding: 15px;
}

main.container-fluid {
	padding: 20px;
}

button[type="submit"] {
	background-image: none !important;
	background-color: #4D9DE0;
	color: white;
}


/*footer*/
footer {
	min-height: 20px;
	background-color: #A5594E;
	color: white;
}

@media only screen and (min-width:280px) and (max-width:328px) {
	ul li.navbar-brand {
		display: block;
		height: 300%;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-top: 80px;
	}

}

@media only screen and (min-width:329px) and (max-width:400px) {
	ul li.navbar-brand {
		display: block;
		height: 300%;
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-top: 80px;
	}

}

@media only screen and (min-width:401px) and (max-width:500px) {
	ul li.navbar-brand {
		display: block;
		height: 300%;
		position: absolute;
		top: 15%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-top: 80px;
	}

}

@media only screen and (min-width:501px) and (max-width:767px) {

	nav ul li {
		width: initial;
	}

	ul li.navbar-brand {
		display: block;
		height: 600%;
		position: absolute;
		top: -300%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-top: 80px;
	}

	nav ul li:nth-child(2) {
		margin-left: 10%;
	}
}


/*TABLET*/

@media only screen and (min-width:768px) and (max-width:992px) {

	header {
		min-height: 200px;
	}

	nav ul li {
		width: initial;
	}

	nav ul li.navbar-brand {
		position: initial;
		width: 150px;
		padding: 0;
		margin-top: 25px;
		margin-left: 40px;
	}

	main h1 {
		font-size: 75px;
	}

}

/*DESKTOP*/

@media only screen and (min-width:993px) {
	header {
		min-height: 200px;
	}

	nav ul li {
		width: initial;
	}

	nav ul li.navbar-brand {
		position: initial;
		width: 150px;
		padding: 0;
		margin-top: 25px;
		margin-left: 40px;
	}

	main.container-fluid {
		padding: 40px;
	}

	main h1 {
		font-size: 75px;
	}
}